h1 {
	font-family: arial;
	font-size: 20pt
}

h2 {
	font-family: arial;
	font-size: 15pt
}

p {
	font-family: georgia;
	font-size: 12pt;
}

a {
	background-color: orange;
}

}
div {
	width: 300px;
	margin: auto;
}